body{
    --color-azul: #0066CB;
    --color-black: #131A22;
    --color-azul-medio: #0B3C6D;
    --color-azul-claro: #80B3E5;
    --color-branco-azul: #E5F1FF;
}
.txt-color-azul{
    color: #0066CB;
}
.txt-color-azul2{
    color: #0C5195;
}
.txt-color-black{
    color: #131A22;
}
.bg-color-azul2{
    background-color: #0C5195;
}
.bg-color-brancoazul{
    background-color: #E5F1FF;
}
.bg-color-azul{
    background-color: #0066CB;
}
.bg-color-azulclaro{
    background-color: #80B3E5;
}