* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Extra Light;
    color: #131A22;
    letter-spacing: 0.03rem;
}
body{
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #0066CB;
    text-decoration-skip: none;
}

#navbar {
    background-color: #131A22;
    width: 100%;
    padding: 1.5rem 1.5rem;
    font-size: 1.3vw;
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: 999;
}

.wrapper {
    height: 100%;
}

#right {
    display: inline-flex;
    gap: 2rem;
    margin-left: auto;
    height: 100%;
    float: right;
}

#logo img {
    width: 6vw;
}

#hero-container {
    height:100vh;
    position: relative;
    display: grid;
    grid-template-rows: 85% 15%;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64vw;
    margin:0 18vw;
}
#hero-text-container{
    display: grid;
    gap:0.3rem;
    padding: 0 0 2rem 0;

}
#hero-elements p{
    text-align: left;

}
.hero-text{
    font-size: 2.5vw;

}
#hero-bold{
    font-size: 3.5vw;
}

#hero button {
    font-size: 18pt;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

#illustration-ground{
    position: absolute;
    right: -10%;
    bottom: -50%;
    width:85%;
    height: 100%;
    border-radius: 100%;
    background-color: #E4F1FF;
    background-image: linear-gradient(340deg, rgba(0,64,128,0.2) 24%, rgba(0,64,128,0) 100%);
    z-index: -1;
}
.content-wrapper {
    min-height: 100vh;
    padding: 3rem 0;
    padding: 0 18%;
    background-color: #FFFFFF;
}
.content-wrapper > *{
    margin:1rem 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 2.2vw;
    display: inline-block;
}

h2 {
    font-size: 2vw;
}

header h2 {
    display: inline-block;
}