* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Extra Light;
    color: #131A22;
    letter-spacing: 0.03rem;
    text-decoration: none;
    z-index: 4;
}

body {
    overflow-x: hidden;
}

a {
    color: white;
}

h1 {
    font-size: 2rem;

}

h2 {
    font-size: 1.6rem;
}

#navbar {
    background-color: #131A22;
    width: 100%;
    padding: 1.3rem 1.5rem;
    font-size: 1.2rem;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.wrapper {
    height: 100%;
}

#right {
    display: inline-flex;
    gap: 2rem;
    margin-left: auto;
    height: 100%;
    float: right;
}

#logo img {
    width: 5rem;
}

#hero-container {
    margin-top: 4rem;
    position: relative;
    display: grid;
    grid-template-rows: 75% 25%;
    width: 100%;
    height: calc(10rem + 35vw);
    background-color: var(--color-azul-claro);

}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64vw;
    margin: 0 auto;
}

#illustration-ground {
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 75%;
    height: 35%;
    z-index: 2;
}

#illustration-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    z-index: 1;
}

#hero-text-container {
    display: grid;
    gap: 0.3rem;
    padding: 0 0 2rem 0;

}

#hero-elements {
    z-index: 3;
}

#hero-elements p {
    text-align: left;

}

.hero-text {
    font-size: calc(0.8rem + 1.5vw);

}

#hero-bold {
    font-size: calc(1rem + 3vw);
}

#hero-elements>button {
    font-size: calc(0.7rem + 1vw);
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    border-radius: calc(0.2rem + 0.2vw);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1);
}

#hero-elements>button:hover {
    transition: 0.3s;
    transform: scale(1.06);
    background-color: var(--color-azul-medio);
}

#hero-illustration {
    transform: scale(1);
    transition: 0.3s;
    width: calc(8rem + 20vw);
    z-index: 3;
}

#hero-illustration:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

#plastic-types-container {
    display: flex;
    justify-content: space-between;
    width: 64%;
    padding: 1rem 0;
    margin: 0 auto;

}

@media (max-width:800px) {
    #plastic-types-container {
        width: 90%;
        margin: 0 auto;

    }
}

#plastic-types-container>* {
    padding: 0.1vw;
    height: fit-content;
    text-align: center;
}

#plastic-types-container>*>img {
    width: calc(3rem + 3vw);
}

.plastic-type-unselected {
    transition: 0.3s;
    transform: scale(0.7);
    opacity: 0.5;
    cursor: pointer;
}

.plastic-type-unselected:hover {
    transition: 0.3s;
    transform: scale(0.8);
    opacity: 0.8;

}

.content-wrapper {
    min-height: 100vh;
    padding: 3rem 0;
    padding: 0 18vw;
    background-color: #FFFFFF;
}
@media (max-width:800px)
{   
    .content-wrapper {
    padding: 2rem 5vw;
    }
}
.content-wrapper>*:not(:first-child) {
    margin: 1rem 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header>h1 {
    display: inline-block;
}

header>h2 {
    display: inline-block;
}